          <li class="nav-header">Recursos</li>
          <li class="nav-item">
            <a href="https://aws.amazon.com/architecture/well-architected/"
               target="_blank" rel="noopener noreferrer" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>Guía Well-Architected</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="mailto:projects@olmo-tech.com" class="nav-link">
              <i class="nav-icon fas fa-headset"></i>
              <p>Contact OTC</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>